$danger: #d32f2f;

@import "~bulma/bulma";
@import "~bulma-switch";

.field.has-addons .control .searchbar-container {
    width: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.map { 
    height: 20vw; 
    width: 20vw;
}